<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmilimaV2Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmilimaV2Web.styles.css" asp-append-version="true" />
</head>
<body class="vh-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white shadow-sm h-100 col-md-3">
                <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo-emilima-color.png" alt="Emilima logo" class="w-100" />
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                            <a class="nav-link text-dark" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" aria-current="page" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <button
						class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle"
						id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img alt="" width="32" height="32" class="rounded-circle me-2"
							id="user-photo"> <strong>User</strong>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
						aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item"
							href="~/cuenta">Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" aria-current="page" asp-area="" asp-controller="Logout" asp-action="Index">Salir</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 py-5 main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
