@{
	ViewData["Title"] = "Error401";
}

<div class="main-content d-flex flex-column align-items-center justify-content-center">
	<h1 class="text-center">ERROR 401 UNAUTHORIZED</h1>
	<p>No estás autorizado para acceder</p>
</div>
