@{
	ViewData["Title"] = "Error404";
}

<div class="col-md-9 py-5 main-content d-flex flex-column align-items-center justify-content-center">
	<h1 class="text-center">ERROR 404 NOT FOUND</h1>
	<p>No se encontró el recurso</p>
</div>
