@{
    ViewData["Title"] = "Error403";
}

<div class="col-md-9 py-5 main-content d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-center">ERROR 403 FORBIDDEN</h1>
    <p>El servidor deniega la solicitud</p>
</div>